<h1>IdleZoo</h1>
<div ng-show="authenticated">
	<p>You have {{controller.zoo.money | numeraljs:'0.000a'}} money</p>
	<p>You gain {{controller.zoo.moneyIncome | numeraljs:'0.000a'}} money every second</p>
	<p><button type="button" class="btn btn-default" ng-click="fight()" ng-disabled="controller.zoo.waitingForFight">{{controller.zoo.waitingForFight ? "Waiting for fight." : "Fight!"}}</button> (You've won {{controller.zoo.fightWins}} fights)</p>
	<p>You was the champion for the {{controller.zoo.championTime | numeraljs:'0.0a'}} seconds</p>
	<h3>Your animals:</h3>
	<table class="table">
	<tbody>
		<tr ng-repeat="building in controller.zoo.buildings">
			<td>
			<img height="60px" ng-src="/images/{{building.name}}.png"/>
			</td>
			<td>{{building.number}} {{building.name}}s (Level {{building.level}}) produce {{building.income | numeraljs:'0.000a'}} money ({{(building.income / controller.zoo.moneyIncome * 100).toFixed(2)}}%)</td>
			<td>
			  <button type="button" class="btn btn-default" ng-click="buy(building.name)" ng-disabled="building.nextCost > controller.zoo.money">Buy for {{building.nextCost | numeraljs:'0.000a'}}</button>
			  <button type="button" class="btn btn-default" ng-click="upgrade(building.name)" ng-disabled="building.upgradeCost > controller.zoo.money">Upgrade for {{building.upgradeCost | numeraljs:'0.000a'}}</button>
			</td>
		</tr>
	</tbody>
	</table>
</div>
<div  ng-show="!authenticated">
	<p>Login to see your animals in your zoo!</p>
</div>
