<div class="alert alert-danger" ng-show="error">
	There was a problem logging in. Please try again.
</div>
<form role="form" ng-submit="controller.signup()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="controller.credentials.username"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control"  aria-describedby="passwordHelpBlock" id="password" name="password" ng-model="controller.credentials.password" />
	</div>
	<p id="passwordHelpBlock" class="form-text text-muted">
  No requirements for your password but one - please, do not use your "usual" password for security reasons (Please, PLEASE, P-L-E-A-S-E!!!)
</p>
	<!-- 
	TODO do client-side checking for mathcing password with password2
	<div class="form-group">
		<label for="password">Repeat password:</label> <input type="password"
			class="form-control" id="password2" name="password2" ng-model="controller.credentials.password2"/>
	</div> -->
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
